
.navbar {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar-brand {
    font-size: 1.5em;
    color: white;
    text-decoration: none;
}

.navbar-links {
    display: flex;
    gap: 20px;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}





body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h1, h2 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

#deleteForm{
    background:none;
    padding:0;
    border:none;
    box-shadow:none;
}

#no-style {
    display: inline-block;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    background-color: #fb8f03;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}

#view-cart,#edit-button, button, input[type="submit"], .action-button {
    display: inline-block;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    background-color: #fb8f03;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}

button:hover, input[type="submit"]:hover, .action-button:hover {
    background-color: #fb8f03;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#deleteForm{
    background:none;
    padding:0;
    border:none;
    box-shadow:none;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="password"], input[type="number"], select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: -10px;
}
